@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Century Gothic", sans-serif; }

a, a:hover, a:focus {
  text-decoration: none; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.9; }
  .sidenav .menu-close {
    position: absolute;
    top: 23px;
    left: 23px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .sidenav .menu-close:before, .sidenav .menu-close:after {
      content: ' ';
      position: absolute;
      height: 20px;
      width: 2px;
      background-color: #000000; }
    .sidenav .menu-close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .sidenav .menu-close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .sidenav .menu-close:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .sidenav nav {
    margin-top: 80px; }
    .sidenav nav .mobile-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .sidenav nav .mobile-menu li {
        margin-bottom: 14px;
        list-style: none; }
        .sidenav nav .mobile-menu li .mobile-menu__item {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 18px;
          color: #000000;
          text-transform: uppercase;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }

.header {
  position: fixed;
  z-index: 99;
  height: 90px;
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .header .header__row {
    width: 88%;
    margin: 0 auto; }
    @media (max-width: 1600px) {
      .header .header__row {
        width: 100%; } }
    .header .header__row .mobile-menu-btn {
      display: none; }
      @media (max-width: 992px) {
        .header .header__row .mobile-menu-btn {
          height: 90px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-bottom: 15px; } }
    .header .header__row .header__nav {
      margin-left: 7px; }
      @media (max-width: 1600px) {
        .header .header__row .header__nav {
          margin-left: 0; } }
      @media (max-width: 992px) {
        .header .header__row .header__nav {
          display: none; } }
      .header .header__row .header__nav .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 90px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .header__row .header__nav .menu li {
          margin-bottom: 4px;
          list-style: none; }
          .header .header__row .header__nav .menu li .menu__btn {
            margin-right: 23px; }
            @media (max-width: 1200px) {
              .header .header__row .header__nav .menu li .menu__btn {
                margin-right: 12px; } }
          .header .header__row .header__nav .menu li .menu__item {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            margin-right: 32px;
            letter-spacing: 1.1px; }
            @media (max-width: 1720px) {
              .header .header__row .header__nav .menu li .menu__item {
                font-size: 12px; } }
            @media (max-width: 1350px) {
              .header .header__row .header__nav .menu li .menu__item {
                font-size: 10px; } }
            @media (max-width: 1200px) {
              .header .header__row .header__nav .menu li .menu__item {
                font-size: 9px; } }
            @media (max-width: 992px) {
              .header .header__row .header__nav .menu li .menu__item {
                font-size: 8px; } }
            @media (max-width: 1600px) {
              .header .header__row .header__nav .menu li .menu__item {
                margin-right: 25px; } }
            @media (max-width: 1200px) {
              .header .header__row .header__nav .menu li .menu__item {
                margin-right: 15px; } }
    .header .header__row .header__logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 18px;
      padding-right: 155px; }
      @media (max-width: 1200px) {
        .header .header__row .header__logo {
          padding-right: 0; } }
      @media (max-width: 992px) {
        .header .header__row .header__logo {
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end; } }
      .header .header__row .header__logo .logo {
        width: 153px;
        height: 50px; }
        @media (max-width: 1200px) {
          .header .header__row .header__logo .logo {
            -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                    transform: scale(0.8); } }
        @media (max-width: 768px) {
          .header .header__row .header__logo .logo {
            -webkit-transform: scale(0.7);
                -ms-transform: scale(0.7);
                    transform: scale(0.7); } }
    .header .header__row .header__contacts {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .header .header__row .header__contacts .languages-block {
        margin-right: 12px;
        margin-bottom: 20px; }
        @media (max-width: 992px) {
          .header .header__row .header__contacts .languages-block {
            margin-right: 10px; } }
        .header .header__row .header__contacts .languages-block__language {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          letter-spacing: 1.5px;
          position: relative; }
          @media (max-width: 1720px) {
            .header .header__row .header__contacts .languages-block__language {
              font-size: 12px; } }
          @media (max-width: 1350px) {
            .header .header__row .header__contacts .languages-block__language {
              font-size: 10px; } }
          @media (max-width: 1200px) {
            .header .header__row .header__contacts .languages-block__language {
              font-size: 9px; } }
          @media (max-width: 992px) {
            .header .header__row .header__contacts .languages-block__language {
              font-size: 8px; } }
          .header .header__row .header__contacts .languages-block__language:after {
            content: '';
            position: absolute;
            left: 26px;
            top: 5px;
            border: 3px solid transparent;
            border-top: 5px solid #fff; }
          @media (max-width: 1200px) {
            .header .header__row .header__contacts .languages-block__language {
              letter-spacing: 1px; }
              .header .header__row .header__contacts .languages-block__language:after {
                top: 3px; } }
          @media (max-width: 992px) {
            .header .header__row .header__contacts .languages-block__language:after {
              left: 20px;
              top: 4px;
              border: 2px solid transparent;
              border-top: 4px solid #fff; } }
          @media (max-width: 768px) {
            .header .header__row .header__contacts .languages-block__language:after {
              top: 3px;
              border: 2px solid transparent;
              border-top: 4px solid #fff; } }
        .header .header__row .header__contacts .languages-block .dropdown-menu {
          background-color: #000; }
          .header .header__row .header__contacts .languages-block .dropdown-menu .dropdown-item {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            @media (max-width: 1720px) {
              .header .header__row .header__contacts .languages-block .dropdown-menu .dropdown-item {
                font-size: 12px; } }
            @media (max-width: 1350px) {
              .header .header__row .header__contacts .languages-block .dropdown-menu .dropdown-item {
                font-size: 10px; } }
            @media (max-width: 1200px) {
              .header .header__row .header__contacts .languages-block .dropdown-menu .dropdown-item {
                font-size: 9px; } }
            @media (max-width: 992px) {
              .header .header__row .header__contacts .languages-block .dropdown-menu .dropdown-item {
                font-size: 8px; } }
      .header .header__row .header__contacts .phone-numbers {
        margin-right: 6px;
        margin-bottom: 20px; }
        @media (max-width: 1200px) {
          .header .header__row .header__contacts .phone-numbers {
            margin-right: 0; } }
        @media (max-width: 576px) {
          .header .header__row .header__contacts .phone-numbers {
            display: none; } }
        .header .header__row .header__contacts .phone-numbers__item {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          letter-spacing: 1.5px;
          margin-left: 26px; }
          @media (max-width: 1720px) {
            .header .header__row .header__contacts .phone-numbers__item {
              font-size: 12px; } }
          @media (max-width: 1350px) {
            .header .header__row .header__contacts .phone-numbers__item {
              font-size: 10px; } }
          @media (max-width: 1200px) {
            .header .header__row .header__contacts .phone-numbers__item {
              font-size: 9px; } }
          @media (max-width: 992px) {
            .header .header__row .header__contacts .phone-numbers__item {
              font-size: 8px; } }
          @media (max-width: 1200px) {
            .header .header__row .header__contacts .phone-numbers__item {
              letter-spacing: 1px;
              margin-left: 15px; } }
          @media (max-width: 992px) {
            .header .header__row .header__contacts .phone-numbers__item {
              margin-left: 8px; } }

.active {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3); }

.change-color {
  color: #000000 !important; }

.change-border-color:after {
  border-top: 5px solid #000000 !important; }

.scroll-img {
  display: none; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.banner {
  position: relative;
  width: 100%;
  height: 975px; }
  @media (max-width: 1600px) {
    .banner {
      height: 800px; } }
  @media (max-width: 1200px) {
    .banner {
      height: 600px; } }
  @media (max-width: 768px) {
    .banner {
      height: 100vh; } }
  .banner .slider-for .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 975px;
    position: relative; }
    .banner .slider-for .slide:after {
      content: '';
      background-color: rgba(0, 0, 0, 0.55);
      height: 975px;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1; }
    @media (max-width: 1600px) {
      .banner .slider-for .slide {
        height: 800px; }
        .banner .slider-for .slide:after {
          height: 800px; } }
    @media (max-width: 1200px) {
      .banner .slider-for .slide {
        height: 600px; }
        .banner .slider-for .slide:after {
          height: 600px; } }
    @media (max-width: 768px) {
      .banner .slider-for .slide {
        height: 100vh; }
        .banner .slider-for .slide:after {
          height: 100vh; } }
    .banner .slider-for .slide__content {
      width: 30%;
      margin-top: 252px;
      margin-left: 150px; }
      @media (max-width: 1600px) {
        .banner .slider-for .slide__content {
          width: 40%;
          margin-left: 70px;
          margin-top: 100px; } }
      @media (max-width: 768px) {
        .banner .slider-for .slide__content {
          width: 60%;
          margin-left: 60px;
          margin-top: 100px; } }
      @media (max-width: 576px) {
        .banner .slider-for .slide__content {
          width: 80%;
          margin-left: 40px;
          margin-top: 100px; } }
      .banner .slider-for .slide__content .slide__content-title {
        font-size: 64px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 22px; }
        @media (max-width: 1600px) {
          .banner .slider-for .slide__content .slide__content-title {
            font-size: 54px; } }
        @media (max-width: 1200px) {
          .banner .slider-for .slide__content .slide__content-title {
            font-size: 48px; } }
        @media (max-width: 992px) {
          .banner .slider-for .slide__content .slide__content-title {
            font-size: 36px; } }
        @media (max-width: 768px) {
          .banner .slider-for .slide__content .slide__content-title {
            font-size: 32px; } }
        @media (max-width: 576px) {
          .banner .slider-for .slide__content .slide__content-title {
            font-size: 28px; } }
      .banner .slider-for .slide__content .slide__content-text {
        font-size: 24px;
        color: #fff;
        line-height: 29px;
        margin-bottom: 65px; }
        @media (max-width: 1200px) {
          .banner .slider-for .slide__content .slide__content-text {
            font-size: 20px; } }
        @media (max-width: 992px) {
          .banner .slider-for .slide__content .slide__content-text {
            font-size: 16px; } }
        @media (max-width: 576px) {
          .banner .slider-for .slide__content .slide__content-text {
            font-size: 14px; } }
      .banner .slider-for .slide__content .slide__content-link {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        position: relative; }
        .banner .slider-for .slide__content .slide__content-link:after {
          content: '';
          position: absolute;
          top: -5px;
          right: -65px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #fff; }
        .banner .slider-for .slide__content .slide__content-link img {
          position: absolute;
          top: 5px;
          right: -52px;
          width: 40px;
          height: 10px; }
      .banner .slider-for .slide__content .social {
        margin-top: 212px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 1600px) {
          .banner .slider-for .slide__content .social {
            margin-top: 190px; } }
        @media (max-width: 1200px) {
          .banner .slider-for .slide__content .social {
            margin-top: 100px; } }
        .banner .slider-for .slide__content .social__link {
          margin-right: 30px; }
          .banner .slider-for .slide__content .social__link img {
            width: 30px;
            height: 30px; }
    .banner .slider-for .slide .appendDots {
      position: absolute;
      left: 43%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 10px;
      bottom: 188px; }
      @media (max-width: 1600px) {
        .banner .slider-for .slide .appendDots {
          bottom: 100px; } }
      @media (max-width: 1200px) {
        .banner .slider-for .slide .appendDots {
          bottom: 90px; } }
      @media (max-width: 992px) {
        .banner .slider-for .slide .appendDots {
          bottom: 22px;
          position: relative;
          left: 0;
          width: 300px;
          margin: 0 auto; } }
      @media (max-width: 768px) {
        .banner .slider-for .slide .appendDots {
          display: none; } }
      .banner .slider-for .slide .appendDots .countSlides {
        position: absolute;
        bottom: -29px;
        left: 27px;
        font-size: 36px;
        font-weight: 200;
        color: #fff; }
        @media (max-width: 1600px) {
          .banner .slider-for .slide .appendDots .countSlides {
            font-size: 30px; } }
        @media (max-width: 1200px) {
          .banner .slider-for .slide .appendDots .countSlides {
            font-size: 26px;
            left: 32px;
            bottom: -26px; } }
        @media (max-width: 992px) {
          .banner .slider-for .slide .appendDots .countSlides {
            font-size: 20px;
            left: 35px;
            bottom: -22px; } }
      .banner .slider-for .slide .appendDots .countSlides-2 {
        left: 110px; }
      .banner .slider-for .slide .appendDots .countSlides-3 {
        left: 190px; }
  .banner .slider-nav {
    position: absolute;
    bottom: 160px;
    right: 0;
    width: 320px;
    height: 210px; }
    @media (max-width: 1200px) {
      .banner .slider-nav {
        bottom: 150px; } }
    @media (max-width: 992px) {
      .banner .slider-nav {
        width: 200px;
        bottom: 10px; } }
    @media (max-width: 768px) {
      .banner .slider-nav {
        display: none; } }
    .banner .slider-nav .slide-nav {
      height: 210px;
      height: 210px;
      margin-right: 35px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      @media (max-width: 992px) {
        .banner .slider-nav .slide-nav {
          height: 140px;
          width: 200px; } }

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6px; }
  @media (max-width: 768px) {
    .slick-dots {
      display: none; } }
  .slick-dots li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    opacity: 0.6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    height: 2px;
    width: 70px; }
    .slick-dots li:hover, .slick-dots li:focus, .slick-dots li:active {
      opacity: 1;
      -webkit-transform: scale(1, 2.4);
          -ms-transform: scale(1, 2.4);
              transform: scale(1, 2.4); }
    .slick-dots li button {
      width: 70px; }
  .slick-dots .slick-active {
    -webkit-transform: scale(1, 2.4);
        -ms-transform: scale(1, 2.4);
            transform: scale(1, 2.4);
    opacity: 1; }

.container-services {
  width: 1312px;
  margin: 0 auto;
  padding: 81px 0 219px;
  position: relative; }
  @media (max-width: 1600px) {
    .container-services {
      width: 90%; } }
  .container-services .lines-block {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    left: 0px;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .container-services .lines-block {
        display: none; } }
    .container-services .lines-block hr {
      height: 100%;
      width: 1px;
      border-right: 1px solid rgba(223, 223, 223, 0.5); }
  .container-services .lines-block {
    top: -18px; }

.services {
  width: 100%;
  border-bottom: 2px solid #000; }
  @media (max-width: 768px) {
    .services {
      padding-bottom: 81px; } }
  @media (max-width: 576px) {
    .services {
      padding: 70px 0; } }
  .services .services__header {
    width: 1312px;
    margin: 0 auto 12px;
    position: relative; }
    @media (max-width: 1600px) {
      .services .services__header {
        width: 90%; } }
    @media (max-width: 576px) {
      .services .services__header .img-section {
        text-align: center; } }
    .services .services__header .img-section img {
      height: 300px;
      width: 300px; }
      @media (max-width: 1600px) {
        .services .services__header .img-section img {
          height: 280px;
          width: 280px; } }
      @media (max-width: 992px) {
        .services .services__header .img-section img {
          height: 240px;
          width: 240px; } }
      @media (max-width: 768px) {
        .services .services__header .img-section img {
          height: 210px;
          width: 210px; } }
      @media (max-width: 768px) {
        .services .services__header .img-section img {
          height: 240px;
          width: 240px; } }
    .services .services__header .text-section__title {
      font-family: "Century Gothic", sans-serif;
      font-size: 72px;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase;
      margin: 50px 0 43px 55px; }
      @media (max-width: 1600px) {
        .services .services__header .text-section__title {
          font-size: 66px; } }
      @media (max-width: 1200px) {
        .services .services__header .text-section__title {
          font-size: 54px; } }
      @media (max-width: 992px) {
        .services .services__header .text-section__title {
          font-size: 40px; } }
      @media (max-width: 768px) {
        .services .services__header .text-section__title {
          font-size: 27px; } }
      @media (max-width: 480px) {
        .services .services__header .text-section__title {
          font-size: 32px; } }
      @media (max-width: 1600px) {
        .services .services__header .text-section__title {
          margin-bottom: 30px; } }
      @media (max-width: 1200px) {
        .services .services__header .text-section__title {
          margin-left: 20px;
          margin-top: 65px; } }
      @media (max-width: 992px) {
        .services .services__header .text-section__title {
          margin-top: 75px;
          margin-left: 0; } }
      @media (max-width: 768px) {
        .services .services__header .text-section__title {
          margin-top: 65px; } }
      @media (max-width: 576px) {
        .services .services__header .text-section__title {
          margin-top: 50px;
          text-align: center; } }
    .services .services__header .text-section .subtitles {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 55px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 1200px) {
        .services .services__header .text-section .subtitles {
          margin-left: 20px; } }
      @media (max-width: 992px) {
        .services .services__header .text-section .subtitles {
          margin-left: 0; } }
      .services .services__header .text-section .subtitles__subtitle {
        font-family: "Century Gothic", sans-serif;
        font-size: 48px;
        margin-right: 100px;
        color: rgba(114, 114, 114, 0.35); }
        .services .services__header .text-section .subtitles__subtitle:last-child {
          margin-left: 20px; }
          @media (max-width: 1600px) {
            .services .services__header .text-section .subtitles__subtitle:last-child {
              margin-left: 0; } }
        @media (max-width: 1600px) {
          .services .services__header .text-section .subtitles__subtitle {
            font-size: 40px;
            margin-right: 80px; } }
        @media (max-width: 1200px) {
          .services .services__header .text-section .subtitles__subtitle {
            font-size: 30px;
            margin-right: 40px; } }
        @media (max-width: 992px) {
          .services .services__header .text-section .subtitles__subtitle {
            font-size: 20px;
            margin-right: 20px; } }
        @media (max-width: 768px) {
          .services .services__header .text-section .subtitles__subtitle {
            font-size: 14px;
            margin-right: 10px; } }
        @media (max-width: 576px) {
          .services .services__header .text-section .subtitles__subtitle {
            font-size: 18px; } }
  .services .service {
    width: 1050px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1200px) {
      .services .service {
        width: 90%; } }
    .services .service__text-section {
      margin-top: 98px; }
      @media (max-width: 1200px) {
        .services .service__text-section {
          margin-top: 60px; } }
      @media (max-width: 992px) {
        .services .service__text-section {
          margin-top: 30px; } }
      @media (max-width: 768px) {
        .services .service__text-section {
          margin-top: 20px; } }
      @media (max-width: 576px) {
        .services .service__text-section {
          margin-top: 10px; } }
      .services .service__text-section .service__title {
        font-family: "Century Gothic", sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #000000;
        padding-bottom: 58px; }
        @media (max-width: 1200px) {
          .services .service__text-section .service__title {
            font-size: 34px; } }
        @media (max-width: 992px) {
          .services .service__text-section .service__title {
            font-size: 28px;
            padding-bottom: 20px; } }
        @media (max-width: 768px) {
          .services .service__text-section .service__title {
            padding-bottom: 15px; } }
        @media (max-width: 576px) {
          .services .service__text-section .service__title {
            font-size: 24px;
            padding-bottom: 12px; } }
      .services .service__text-section .service__details {
        list-style: none; }
        .services .service__text-section .service__details .service__detail {
          font-family: "Century Gothic", sans-serif;
          font-size: 18px;
          color: #7E7E7E;
          padding-bottom: 3px;
          position: relative; }
          .services .service__text-section .service__details .service__detail:before {
            content: '';
            position: absolute;
            left: -15px;
            top: 11px;
            background-color: #7E7E7E;
            height: 2px;
            width: 2px;
            border-radius: 50%; }
          @media (max-width: 1200px) {
            .services .service__text-section .service__details .service__detail {
              font-size: 16px; } }
          @media (max-width: 992px) {
            .services .service__text-section .service__details .service__detail {
              font-size: 15px; } }
    @media (max-width: 992px) {
      .services .service__img-section {
        display: none; } }
    .services .service__img-section img {
      width: 430px;
      height: 570px; }
      @media (max-width: 1200px) {
        .services .service__img-section img {
          width: 100%;
          height: 500px; } }
      @media (max-width: 992px) {
        .services .service__img-section img {
          height: 360px; } }
  .services .right-side-img .service__text-section .service__title {
    margin-left: 40px;
    position: relative; }
    .services .right-side-img .service__text-section .service__title:after {
      content: "";
      position: absolute;
      background: #c4c4c4;
      height: 1px;
      width: 635px;
      z-index: -20;
      bottom: 40px;
      left: -48px; }
      @media (max-width: 992px) {
        .services .right-side-img .service__text-section .service__title:after {
          width: 500px; } }
      @media (max-width: 768px) {
        .services .right-side-img .service__text-section .service__title:after {
          display: none; } }
    @media (max-width: 1200px) {
      .services .right-side-img .service__text-section .service__title {
        margin-left: 40px; }
        .services .right-side-img .service__text-section .service__title:after {
          left: -30px; } }
    @media (max-width: 992px) {
      .services .right-side-img .service__text-section .service__title {
        margin-left: 0px; }
        .services .right-side-img .service__text-section .service__title:after {
          bottom: 10px;
          left: -30px; } }
  .services .right-side-img .service__text-section .service__details {
    margin-left: 5px; }
    @media (max-width: 1200px) {
      .services .right-side-img .service__text-section .service__details {
        margin-left: 40px; } }
    @media (max-width: 1200px) {
      .services .right-side-img .service__text-section .service__details {
        margin-left: 0px; } }
  .services .right-side-img .service__img-section img {
    margin-left: 13px; }
    @media (max-width: 1200px) {
      .services .right-side-img .service__img-section img {
        margin-left: 0; } }
  .services .left-side-img {
    position: relative; }
    .services .left-side-img .service__text-section .service__title {
      margin-left: 137px;
      margin-top: 41px; }
      .services .left-side-img .service__text-section .service__title:after {
        content: "";
        position: absolute;
        background: #c4c4c4;
        height: 1px;
        width: 635px;
        z-index: -20;
        top: 100px;
        right: 142px; }
        @media (max-width: 992px) {
          .services .left-side-img .service__text-section .service__title:after {
            width: 500px; } }
        @media (max-width: 768px) {
          .services .left-side-img .service__text-section .service__title:after {
            display: none; } }
      @media (max-width: 1200px) {
        .services .left-side-img .service__text-section .service__title {
          margin-left: 100px; }
          .services .left-side-img .service__text-section .service__title:after {
            right: 42px; } }
      @media (max-width: 992px) {
        .services .left-side-img .service__text-section .service__title:after {
          top: 84px; } }
      @media (max-width: 768px) {
        .services .left-side-img .service__text-section .service__title {
          margin-left: 0;
          margin-top: 0; } }
    .services .left-side-img .service__text-section .service__details {
      margin-left: 100px; }
      @media (max-width: 768px) {
        .services .left-side-img .service__text-section .service__details {
          margin-left: 0; } }
    .services .left-side-img .service__img-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 1200px) {
        .services .left-side-img .service__img-section {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
      @media (max-width: 992px) {
        .services .left-side-img .service__img-section {
          display: none; } }
      .services .left-side-img .service__img-section img {
        margin-left: -9px; }
    .services .left-side-img .bg1 {
      position: absolute;
      left: -236px;
      width: 560px;
      height: 820px;
      background: no-repeat center center;
      top: -305px;
      background-image: url(../img/services/bg1.png); }
      @media (max-width: 992px) {
        .services .left-side-img .bg1 {
          display: none; } }
    .services .left-side-img .bg2 {
      position: absolute;
      left: -236px;
      width: 560px;
      height: 820px;
      background: no-repeat center center;
      top: -300px;
      background-image: url(../img/services/bg1.png); }
      @media (max-width: 992px) {
        .services .left-side-img .bg2 {
          display: none; } }

.portfolio {
  margin-top: 20px;
  position: relative; }
  .portfolio .tabs__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .portfolio .tabs__nav .tabs__section {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 21px; }
      @media (max-width: 1600px) {
        .portfolio .tabs__nav .tabs__section {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding-left: 0; } }
      .portfolio .tabs__nav .tabs__section .tabs__link {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        margin-right: 28px;
        color: #7E7E7E;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        text-transform: uppercase;
        padding-top: 5px; }
        @media (max-width: 1200px) {
          .portfolio .tabs__nav .tabs__section .tabs__link {
            font-size: 14px; } }
        @media (max-width: 768px) {
          .portfolio .tabs__nav .tabs__section .tabs__link {
            margin-right: 20px; } }
        @media (max-width: 576px) {
          .portfolio .tabs__nav .tabs__section .tabs__link {
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 12px; } }
        .portfolio .tabs__nav .tabs__section .tabs__link:hover, .portfolio .tabs__nav .tabs__section .tabs__link :focus {
          color: #000000; }
      .portfolio .tabs__nav .tabs__section .tabs__link_active {
        color: #000000;
        font-weight: 400;
        cursor: default; }
      .portfolio .tabs__nav .tabs__section .all-works {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        background-color: #000;
        text-transform: uppercase;
        width: 130px;
        height: 38px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin-left: 11px; }
        @media (max-width: 576px) {
          .portfolio .tabs__nav .tabs__section .all-works {
            margin-left: 0;
            margin-bottom: 12px;
            width: 120px;
            height: 30px; } }
  .portfolio .tabs__content {
    margin-top: 20px; }
    .portfolio .tabs__content .tabs__pane {
      display: none; }
    .portfolio .tabs__content .tabs__pane_show {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .portfolio .tabs__content .tabs__pane_show .portfolio-img {
        width: 25%; }
        .portfolio .tabs__content .tabs__pane_show .portfolio-img img {
          -webkit-transition: 1.1s;
          -o-transition: 1.1s;
          transition: 1.1s;
          -webkit-box-shadow: 0px 0px 10px rgba(200, 200, 200, 0);
                  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0);
          width: 100%; }
          .portfolio .tabs__content .tabs__pane_show .portfolio-img img:hover {
            -webkit-transform: scale(1.01);
                -ms-transform: scale(1.01);
                    transform: scale(1.01);
            -webkit-box-shadow: 0px 0px 80px rgba(200, 200, 250, 0.9);
                    box-shadow: 0px 0px 80px rgba(200, 200, 250, 0.9); }
      .portfolio .tabs__content .tabs__pane_show .portfolio-img-section-3 {
        width: 50%; }

.container-portfolio {
  width: 1312px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 1600px) {
    .container-portfolio {
      width: 90%; } }
  .container-portfolio .lines-block {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    left: 0px;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .container-portfolio .lines-block {
        display: none; } }
    .container-portfolio .lines-block hr {
      height: 100%;
      width: 1px;
      border-right: 1px solid rgba(223, 223, 223, 0.5); }
  .container-portfolio .lines-block {
    top: -35px; }

.clients__container {
  width: 75%;
  width: 1312px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px; }
  @media (max-width: 1600px) {
    .clients__container {
      width: 90%; } }
  @media (max-width: 992px) {
    .clients__container {
      padding-top: 90px; } }
  @media (max-width: 768px) {
    .clients__container {
      padding-top: 70px; } }
  @media (max-width: 576px) {
    .clients__container {
      width: 96%; } }
  .clients__container .lines-block {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    left: 0px;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .clients__container .lines-block {
        display: none; } }
    .clients__container .lines-block hr {
      height: 100%;
      width: 1px;
      border-right: 1px solid rgba(223, 223, 223, 0.5); }
  .clients__container .clients__title {
    font-size: 40px;
    width: 100%;
    color: #000000;
    padding-bottom: 108px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
    @media (max-width: 1200px) {
      .clients__container .clients__title {
        font-size: 36px;
        padding-bottom: 80px; } }
    @media (max-width: 992px) {
      .clients__container .clients__title {
        font-size: 34px;
        padding-bottom: 70px; } }
    @media (max-width: 768px) {
      .clients__container .clients__title {
        font-size: 32px;
        padding-bottom: 40px; } }
    @media (max-width: 576px) {
      .clients__container .clients__title {
        font-size: 28px; } }
  .clients__container .clients__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    list-style: none;
    margin-left: 110px; }
    @media (max-width: 992px) {
      .clients__container .clients__list {
        margin-left: 0; } }
    .clients__container .clients__list .clients__list-item {
      color: #000000;
      font-size: 18px;
      position: relative;
      margin-bottom: 85px;
      margin-right: 70px;
      text-transform: uppercase;
      font-weight: bold; }
      .clients__container .clients__list .clients__list-item:after {
        content: '';
        position: absolute;
        right: -40px;
        top: 8px;
        background-color: #000000;
        height: 9px;
        width: 9px;
        border-radius: 50%; }
      @media (max-width: 992px) {
        .clients__container .clients__list .clients__list-item {
          font-size: 16px;
          margin-right: 40px;
          margin-bottom: 65px; }
          .clients__container .clients__list .clients__list-item:after {
            right: -20px; } }
      @media (max-width: 768px) {
        .clients__container .clients__list .clients__list-item {
          margin-right: 30px;
          margin-bottom: 40px;
          font-size: 16px; }
          .clients__container .clients__list .clients__list-item:after {
            height: 6px;
            width: 6px;
            top: 10px; } }
      @media (max-width: 576px) {
        .clients__container .clients__list .clients__list-item {
          margin-right: 12px;
          margin-bottom: 20px;
          font-size: 12px; }
          .clients__container .clients__list .clients__list-item:after {
            height: 6px;
            width: 6px;
            top: 6px;
            right: -8px; } }

.contacts {
  position: relative;
  width: 100%;
  height: 840px; }
  @media (max-width: 1200px) {
    .contacts {
      height: 670px; } }
  @media (max-width: 992px) {
    .contacts {
      height: 480px; } }
  @media (max-width: 768px) {
    .contacts {
      height: 600px; } }
  .contacts__container {
    position: absolute;
    right: 0;
    top: 356px;
    z-index: 50;
    width: 91%;
    height: 340px;
    margin-left: auto;
    background-color: #000000; }
    @media (max-width: 768px) {
      .contacts__container {
        top: 170px; } }
    @media (max-width: 992px) {
      .contacts__container {
        width: 100%;
        top: 0;
        height: 480px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 768px) {
      .contacts__container {
        height: 600px; } }
    .contacts__container .close-btn {
      position: absolute;
      top: 23px;
      left: 23px;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      outline: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .contacts__container .close-btn:before, .contacts__container .close-btn:after {
        content: ' ';
        position: absolute;
        height: 20px;
        width: 2px;
        background-color: #000000; }
      .contacts__container .close-btn:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .contacts__container .close-btn:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .contacts__container .close-btn:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
    .contacts__container .contacts__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 84%;
      margin: 0 auto; }
      @media (max-width: 1600px) {
        .contacts__container .contacts__content {
          width: 90%; } }
      @media (max-width: 768px) {
        .contacts__container .contacts__content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .contacts__container .contacts__content .contacts__text {
        width: 30%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 33px; }
        @media (max-width: 1600px) {
          .contacts__container .contacts__content .contacts__text {
            width: 35%; } }
        @media (max-width: 1200px) {
          .contacts__container .contacts__content .contacts__text {
            width: 45%; } }
        @media (max-width: 768px) {
          .contacts__container .contacts__content .contacts__text {
            width: 80%;
            margin-top: 0; } }
        .contacts__container .contacts__content .contacts__text .phone-numbers {
          position: relative;
          margin-left: 100px;
          margin-bottom: 50px; }
          @media (max-width: 1200px) {
            .contacts__container .contacts__content .contacts__text .phone-numbers {
              text-align: center;
              margin-left: 0; } }
          @media (max-width: 768px) {
            .contacts__container .contacts__content .contacts__text .phone-numbers {
              margin-bottom: 30px; } }
          .contacts__container .contacts__content .contacts__text .phone-numbers__img {
            position: absolute;
            top: 8px;
            left: -20px;
            width: 13px;
            height: 14px; }
            @media (max-width: 1200px) {
              .contacts__container .contacts__content .contacts__text .phone-numbers__img {
                display: none; } }
          .contacts__container .contacts__content .contacts__text .phone-numbers__item {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff; }
            @media (max-width: 768px) {
              .contacts__container .contacts__content .contacts__text .phone-numbers__item {
                font-size: 12px; } }
        .contacts__container .contacts__content .contacts__text .contacts__title {
          margin-bottom: 50px;
          padding-right: 130px;
          text-transform: uppercase;
          text-align: center; }
          @media (max-width: 1400px) {
            .contacts__container .contacts__content .contacts__text .contacts__title {
              padding-right: 60px; } }
          @media (max-width: 1200px) {
            .contacts__container .contacts__content .contacts__text .contacts__title {
              padding-right: 0; } }
          @media (max-width: 768px) {
            .contacts__container .contacts__content .contacts__text .contacts__title {
              margin-bottom: 20px; } }
          .contacts__container .contacts__content .contacts__text .contacts__title h2 {
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 300;
            color: #fff; }
            @media (max-width: 768px) {
              .contacts__container .contacts__content .contacts__text .contacts__title h2 {
                font-size: 26px; } }
        .contacts__container .contacts__content .contacts__text .address {
          margin-left: 36px;
          position: relative; }
          @media (max-width: 1200px) {
            .contacts__container .contacts__content .contacts__text .address {
              text-align: center;
              margin-left: 0; } }
          .contacts__container .contacts__content .contacts__text .address__text {
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            position: relative; }
            .contacts__container .contacts__content .contacts__text .address__text:after {
              content: '';
              position: absolute;
              left: -21px;
              top: 0px;
              width: 11px;
              height: 17px;
              background-image: url("../img/map.svg");
              background-repeat: no-repeat; }
            @media (max-width: 1200px) {
              .contacts__container .contacts__content .contacts__text .address__text {
                margin-left: 20px; } }
            @media (max-width: 768px) {
              .contacts__container .contacts__content .contacts__text .address__text {
                font-size: 12px; } }
      .contacts__container .contacts__content .contacts__logo {
        width: 20%; }
        @media (max-width: 1600px) {
          .contacts__container .contacts__content .contacts__logo {
            width: 30%; } }
        @media (max-width: 1400px) {
          .contacts__container .contacts__content .contacts__logo {
            display: none; } }
        .contacts__container .contacts__content .contacts__logo img {
          margin-top: 113px;
          margin-left: 20px;
          width: 263px;
          height: 86px; }
          @media (max-width: 1600px) {
            .contacts__container .contacts__content .contacts__logo img {
              margin-left: 0;
              -webkit-transform: scale(0.8);
                  -ms-transform: scale(0.8);
                      transform: scale(0.8); } }
      .contacts__container .contacts__content .contacts__form {
        width: 30%; }
        @media (max-width: 1600px) {
          .contacts__container .contacts__content .contacts__form {
            width: 35%; } }
        @media (max-width: 1200px) {
          .contacts__container .contacts__content .contacts__form {
            width: 45%; } }
        @media (max-width: 768px) {
          .contacts__container .contacts__content .contacts__form {
            width: 80%;
            margin: 0 auto; } }
        @media (max-width: 576px) {
          .contacts__container .contacts__content .contacts__form {
            width: 90%; } }
        .contacts__container .contacts__content .contacts__form .form {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end;
          margin-top: 24px; }
          @media (max-width: 768px) {
            .contacts__container .contacts__content .contacts__form .form {
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; } }
          .contacts__container .contacts__content .contacts__form .form .contacts-input {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #6e6e6e;
            width: 356px;
            height: 42px;
            border: none;
            outline: none;
            padding-left: 15px;
            padding-top: 3px;
            margin-bottom: 4px; }
            @media (max-width: 576px) {
              .contacts__container .contacts__content .contacts__form .form .contacts-input {
                width: 100%; } }
          .contacts__container .contacts__content .contacts__form .form .textarea {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #6e6e6e;
            width: 356px;
            height: 97px;
            border: none;
            outline: none;
            resize: none;
            padding-left: 15px;
            padding-top: 11px;
            margin-bottom: 15px; }
            @media (max-width: 576px) {
              .contacts__container .contacts__content .contacts__form .form .textarea {
                width: 100%; } }
          .contacts__container .contacts__content .contacts__form .form .send-btn {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #000000;
            width: 356px;
            height: 42px;
            border: none;
            outline: none; }
            @media (max-width: 576px) {
              .contacts__container .contacts__content .contacts__form .form .send-btn {
                width: 100%; } }
  .contacts .open-form-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 320px;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #000000;
    background-color: #C4C4C4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    display: none; }
    @media (max-width: 1200px) {
      .contacts .open-form-btn {
        width: 300px;
        height: 50px;
        font-size: 18px; } }
    @media (max-width: 992px) {
      .contacts .open-form-btn {
        width: 280px;
        height: 45px;
        font-size: 16px; } }
    @media (max-width: 768px) {
      .contacts .open-form-btn {
        width: 220px;
        height: 40px;
        font-size: 13px; } }
  .contacts .hidden {
    opacity: 0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear; }
  .contacts .showed {
    opacity: 1;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear; }
  .contacts .deleted {
    display: none; }
  .contacts .created {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .contacts .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 840px;
    z-index: -10; }
    @media (max-width: 1200px) {
      .contacts .map {
        height: 680px; } }
    @media (max-width: 992px) {
      .contacts .map {
        height: 480px; } }
    @media (max-width: 768px) {
      .contacts .map {
        height: 600px; } }
  .contacts .way {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 40;
    width: 320px;
    height: 70px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #000000;
    background-color: #C4C4C4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase; }
    @media (max-width: 1200px) {
      .contacts .way {
        width: 300px;
        height: 50px;
        font-size: 18px; } }
    @media (max-width: 992px) {
      .contacts .way {
        width: 280px;
        height: 45px;
        font-size: 16px; } }
    @media (max-width: 768px) {
      .contacts .way {
        width: 220px;
        height: 40px;
        font-size: 13px; } }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer .logo {
    margin: 60px 0 55px;
    width: 263px;
    height: 86px; }
    @media (max-width: 1200px) {
      .footer .logo {
        margin-bottom: 45px;
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); } }
    @media (max-width: 992px) {
      .footer .logo {
        margin: 40px 0; } }
    @media (max-width: 576px) {
      .footer .logo {
        -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
                transform: scale(0.7); } }
  .footer .rights {
    margin-left: 4px;
    margin-bottom: 18px; }
    .footer .rights span {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #000000; }
      @media (max-width: 768px) {
        .footer .rights span {
          font-size: 12px; } }
      @media (max-width: 576px) {
        .footer .rights span {
          font-size: 10px; } }
    .footer .rights .rules {
      margin-left: 26px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #000000; }
      @media (max-width: 768px) {
        .footer .rights .rules {
          font-size: 12px; } }
      @media (max-width: 576px) {
        .footer .rights .rules {
          font-size: 10px; } }
